2012 Book Source Code/Chapter_7_Source_Code/Chapter 7/Employee Class/EmployeeWS/Employee.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="employeeID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="visitDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCostResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCostSoapIn">
    <wsdl:part name="parameters" element="tns:GetCost" />
  </wsdl:message>
  <wsdl:message name="GetCostSoapOut">
    <wsdl:part name="parameters" element="tns:GetCostResponse" />
  </wsdl:message>
  <wsdl:portType name="EmployeeSoap">
    <wsdl:operation name="GetCost">
      <wsdl:input message="tns:GetCostSoapIn" />
      <wsdl:output message="tns:GetCostSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeSoap" type="tns:EmployeeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCost">
      <soap:operation soapAction="http://tempuri.org/GetCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmployeeSoap12" type="tns:EmployeeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCost">
      <soap12:operation soapAction="http://tempuri.org/GetCost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Employee">
    <wsdl:port name="EmployeeSoap" binding="tns:EmployeeSoap">
      <soap:address location="http://localhost:2066/Employee%20Web%20Service/Employee.asmx" />
    </wsdl:port>
    <wsdl:port name="EmployeeSoap12" binding="tns:EmployeeSoap12">
      <soap12:address location="http://localhost:2066/Employee%20Web%20Service/Employee.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>